<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_title %>
    <%= form.text_area :post_title, id: :post_Post_title %>
  </div>

  <div class="field">
    <%= form.label :post_content %>
    <%= form.text_area :post_content, id: :post_post_content %>
  </div>

  <div class="field">
    <%= form.label :post_thumbnail_url %>
    <%= form.text_area :post_thumbnail_url, id: :post_post_thumbnail_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
