<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Producthunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="bodywrapper">
      <header>
        <div class="wrapper_left">
          <div class="producthuntlogo"><p> P </p></div>
          <div class="pagetitle">Producthunt</div>
        </div>

        <div class="wrapper_right">
          <div class="search">
            <div class="searchicon"> <i class="fa fa-search" aria-hidden="true"></i> </div>
            <input type="text" class="searchterm" placeholder="search for a product"></input>
            <div class="clearicon"> <i class="fa fa-times" aria-hidden="true"></i> </div>
          </div>
          <div class="login">Login</div>
          <div class="loginicon"><p>+</p> </div>
        </div>
      </header>

      <nav>
        <div class="navitem">
          <div class="innernavitem">
            <span>Tech</span>
          </div>
        </div>
        <div class="navitem">
          <div class="innernavitem">
            <span>Games</span>
          </div>
        </div>
        <div class="navitem">
            <div class="innernavitem">
              <span>Collections</span>
            </div>
        </div>
      </nav>
      <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
  </body>

  <script>
    $('.search > *')
        .focus(function() {
            $('.search').toggleClass('focused');
        })
        .blur(function() {
            $('.search').toggleClass('focused');
        });
  </script>
</html>
